<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ast.eom.dao.AuthDao">

  <resultMap type="Member" id="MemberMap">
    <id column="mem_no" property="memberNo"/>
    <result column="mem_type_no" property="memberTypeNo"/>
    <result column="reg_date" property="registeredDate"/>
    <result column="gender" property="gender"/>
    <result column="dob" property="dateOfBirth"/>
    <result column="id" property="id"/>
    <result column="email" property="email"/>
    <result column="name" property="name"/>
    <result column="pwd" property="password"/>
    <result column="addr_city" property="addressCity"/>
    <result column="addr_sub" property="addressSuburb"/>
    <result column="tel" property="tel"/>
    <result column="profile_photo" property="profilePhoto"/>
    <result column="email_checked" property="userEmailChecked"/>
    <result column="activation_key" property="activationKey"/>
    <result column="curr_lesson_dt" property="lessonDays"/>
    <result column="curr_lesson_st" property="lessonStartTime"/>
    <result column="curr_lesson_et" property="lessonEndTime"/>
    <!-- <collection resultMap="MemberTypeMap" property="memberType"/> -->
  </resultMap>

  <select id="findId" parameterType="Member" resultType="Member">
   select id from member where email=#{email} and name=#{name}
  </select>
  
  <select id="findPw" parameterType="Member" resultType="int">
   select count(*) from member where id=#{id} and email=#{email} and name=#{name}
  </select>
  
  <select id="login" parameterType="map" resultMap="MemberMap">
  select * from member where id=#{id} and pwd=password(#{pw})
  </select>
  
  <update id="pwChange" parameterType="Member">
    update member set pwd=password("${password}") where email="${email}"
  </update>
  
</mapper>