<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ast.eom.dao.BoardDao">

	<!-- 컬럼 이름과 자바 객체의 프로퍼티 이름을 연결한다. -->
  <resultMap type="Board" id="BoardMap">
		<id column="board_no" property="boardNo" />
    <result column="titl" property="title" />
    <result column="conts" property="contents" />
    <result column="cdt" property="createdDate" />
		<result column="vw_cnt" property="viewCount" />
    <collection resultMap="BoardTypeMap" property="boardType" />
		<collection resultMap="MemberMap" property="member" />
	</resultMap>
  
  <resultMap type="Board" id="BoardWithFilesMap">
    <id column="board_no" property="boardNo" />
    <result column="titl" property="title" />
    <result column="conts" property="contents" />
    <result column="cdt" property="createdDate" />
		<result column="vw_cnt" property="viewCount" />
    <collection resultMap="BoardTypeMap" property="boardType" />
		<collection resultMap="MemberMap" property="member" />
    
    <!-- 자식 테이블의 데이터와 PhotoFile 객체 연결 -->
    <collection property="files" ofType="BoardFile">
      <id column="file_no" property="fileNo"/>
      <result column="file_name" property="fileName"/>
      <collection resultMap="BoardMap" property="board"/>
      <collection resultMap="Notice" property="notice"/>
    </collection>
  </resultMap>
  
  <resultMap type="BoardType" id="BoardTypeMap">
    <id column="board_type_no" property="boardTypeNo" />
    <result column="board_name" property="boardName" />
  </resultMap>
  
  <resultMap type="Member" id="MemberMap">
    <id column="mem_no" property="no" />
    <result column="reg_date" property="registeredDate" />
    <result column="mem_type_no" property="typeNo" />
    <result column="gender" property="gender" />
    <result column="dob" property="dateOfBirth" />
    <result column="id" property="id" />
    <result column="name" property="name" />
    <result column="password" property="password" />
    <result column="addr" property="address" />
    <result column="tel" property="telephone" />
    <result column="profile_photo" property="profilePhoto" />
  </resultMap>
  
	<select id="findAll" parameterType="int" resultMap="BoardMap">
		select b.board_no, b.titl, m.name, b.vw_cnt, b.board_type_no
		from board b
		inner join member m on b.mem_no = m.mem_no
		where b.board_type_no = #{hello}
		order by b.cdt asc
	</select>
  
  <select id="findBy" parameterType="int" resultMap="BoardMap">
    select b.board_no, b.titl, m.name, b.cdt, b.vw_cnt, b.conts, b.board_type_no
    from board b
    inner join member m on b.mem_no = m.mem_no
    where b.board_no=#{haha}
  </select>
	 
	<update id="increaseViewCount" parameterType="int">
    update board set
      vw_cnt = vw_cnt + 1
    where board_no=#{value}
  </update>
  
	<insert id="insert" parameterType="Board">
		insert into board(board_type_no, mem_no, titl, conts, cdt)
		values(${boardType.boardTypeNo}, 1, #{title}, #{contents}, now())
	</insert>
  
	<update id="update" parameterType="Board">
    update board set
      titl=#{title},
      conts=#{contents}
    where board_no=#{boardNo}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from board
    where board_no=#{haha}
  </delete>
</mapper>