<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ast.eom.dao.BoardDao">

  <resultMap type="Board" id="BoardMap">
    <id column="board_no" property="boardNo" />
    <result column="board_type_no" property="boardTypeNo" />
    <result column="mem_no" property="memberNo" />
    <result column="titl" property="title" />
    <result column="conts" property="contents" />
    <result column="cdt" property="createdDate" />
    <result column="vw_cnt" property="viewCount" />
    <result column="name" property="memberName" />
  </resultMap>

  <resultMap type="Board" id="BoardWithFilesMap">
    <id column="board_no" property="boardNo" />
    <result column="mem_no" property="memberNo" />
    <result column="board_type_no" property="boardTypeNo" />
    <result column="titl" property="title" />
    <result column="conts" property="contents" />
    <result column="cdt" property="createdDate" />
    <result column="vw_cnt" property="viewCount" />
    <result column="name" property="memberName" />

    <!-- 자식 테이블의 데이터와 PhotoFile 객체 연결 -->
    <collection property="files" ofType="BoardFile">
      <id column="file_no" property="fileNo" />
      <result column="file_name" property="fileName" />
      <result column="board_no" property="boardNo" />
      <result column="notice_no" property="noticeNo" />
    </collection>
  </resultMap>

<!--   <resultMap type="Member" id="MemberMap">
    <id column="mem_no" property="memberNo" />
    <result column="reg_date" property="registeredDate" />
    <result column="gender" property="gender" />
    <result column="dob" property="dateOfBirth" />
    <result column="id" property="id" />
    <result column="email" property="email" />
    <result column="name" property="name" />
    <result column="pwd" property="password" />
    <result column="addr_city" property="addressCity" />
    <result column="addr_sub" property="addressSuburb" />
    <result column="tel" property="tel" />
    <result column="profile_photo" property="profilePhoto" />
    <collection resultMap="MemberTypeMap" property="memberTypeNo"></collection>
  </resultMap>

  <resultMap type="BoardType" id="BoardTypeMap">
    <id column="board_type_no" property="boardTypeNo" />
    <result column="board_name" property="boardName" />
  </resultMap>

  <resultMap type="MemberType" id="MemberTypeMap">
    <id column="mem_type_no" property="memberTypeNo" />
    <result column="mem_type_name" property="memberTypeName" />
  </resultMap> -->
  
  <select id="findAllBy" parameterType="int" resultMap="BoardMap">
    select b.board_no, b.board_type_no, b.titl, b.cdt, b.vw_cnt, m.name
    from board b
    inner join member m on b.mem_no=m.mem_no
    where b.board_type_no = #{hello}
    order by b.board_no desc
  </select>
  
  <select id="findBy" parameterType="int" resultMap="BoardMap">
    select
    b.board_no, b.titl, m.name, b.cdt, b.vw_cnt, b.conts,
    b.board_type_no
    from board b
    inner join member m on b.mem_no=m.mem_no
    where b.board_no=#{haha}
  </select>

  <select id="findWithFilesBy" parameterType="int"
    resultMap="BoardWithFilesMap">
    select
    b.board_no,
    b.board_type_no,
    b.mem_no,
    b.titl,
    b.conts,
    b.cdt,
    b.vw_cnt,
    m.name,
    f.file_no,
    f.file_name
    from
    board b
    left outer join board_file f on b.board_no=f.board_no
    left outer join member m on b.mem_no=m.mem_no
    where
    b.board_no=#{value}
  </select>

  <update id="increaseViewCount" parameterType="int">
    update board set
    vw_cnt = vw_cnt + 1
    where board_no=#{value}
  </update>

  <insert id="insert" parameterType="Board"
    useGeneratedKeys="true" keyColumn="board_no" keyProperty="boardNo">
    insert into board(board_type_no, mem_no, titl, conts, cdt)
    values(${boardTypeNo}, ${memberNo}, #{title}, #{contents}, now())
  </insert>

  <update id="update" parameterType="Board">
    update board set
    titl=#{title},
    conts=#{contents}
    where board_no=#{boardNo}
  </update>

  <delete id="delete" parameterType="int">
    delete from board
    where
    board_no=#{haha}
  </delete>
  

</mapper>