<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ast.eom.dao.DayLessonDao">

  <resultMap type="DayLesson" id="DayLessonMap">
    <id column="day_lesson_no" property="dayLessonNo" />
    <result column="lesson_no" property="lessonNo" />
    <result column="lesson_date" property="lessonDate" />
    <result column="lesson_start_hr" property="lessonStartHour" />
    <result column="lesson_end_hr" property="lessonEndHour" />
    <result column="lesson_summ" property="lessonSummary" />
    <result column="lesson_eval" property="lessonEvaluation" />
  </resultMap>

<!--   <select id="findBy" parameterType="int" resultMap="DayLessonMap">
    select *
    from day_lesson
    where day_lesson_no=#{dayLessonNo}
  </select> -->
  
  <select id="findAll" parameterType="int" resultMap="DayLessonMap">
      select *
      from day_lesson
      where lesson_no=#{lessonNo}
      order by day_lesson_no desc
  </select>
  
  <insert id="insert" parameterType="DayLesson"
   useGeneratedKeys="true" keyColumn="day_lesson_no" keyProperty="dayLessonNo">
   insert into day_lesson(lesson_no, lesson_date, lesson_start_hr, lesson_end_hr, lesson_summ, lesson_eval)
   values(#{lessonNo}, #{lessonDate}, #{lessonStartHour}, #{lessonEndHour}, #{lessonSummary}, #{lessonEvaluation})
  </insert>
  
  <update id="update" parameterType="DayLesson">
    update day_lesson set
      lesson_date=#{lessonDate},
      lesson_start_hr=#{lessonStartHour},
      lesson_end_hr=#{lessonEndHour},
      lesson_summ=#{lessonSummary},
      lesson_eval=#{lessonEvaluation}
    where day_lesson_no=#{dayLessonNo}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from day_lesson where day_lesson_no=#{dayLessonNo}
  </delete>

</mapper>