<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ast.eom.dao.LessonDao">

  <resultMap type="Lesson" id="LessonMap">
    <id column="lesson_no" property="lessonNo" />
    <result column="tch_no" property="teacherNo" />
    <result column="std_no" property="studentNo" />
    <result column="sub_no" property="subjectNo" />
    <result column="lesson_desc" property="lessonDescription" />
    <result column="lesson_fee" property="lessonFee" />
    <result column="lesson_stat" property="lessonState" />
    <result column="std_lesson_stop" property="studentLessonStop" />
    <result column="tch_lesson_stop" property="teacherLessonStop" />
    <result column="sdt" property="startDate" />
    <result column="edt" property="endDate" />
    <result column="tch_review" property="teacherReview" />
    <result column="std_review" property="studentReview" />
    <result column="tch_eval" property="teacherEvaluation" />
    <result column="payment" property="paymentMethod" />
    <result column="pay_day" property="payDay" />
    <result column="cal_date" property="calculationDay" />
    <result column="cal_stat" property="calculationState" />
    <result column="std_stop_reason" property="studentStopReason" />
    <result column="tch_stop_reason" property="teacherStopReason" />
    <result column="ref_stat" property="refundState" />
    <result column="ref_date" property="refundDate" />
    <result column="ref_amount" property="refundAmount" />
    <result column="sub_name" property="subjectName" />
    <collection resultMap="MemberMap" property="member" />
    <collection resultMap="CLCMap" property="clcs" />
    <collection resultMap="SubjectMap" property="subject" />
    <collection resultMap="CurriculumMap" property="curriculum" />
  </resultMap>
  
  <resultMap type="Curriculum" id="CurriculumMap">
    <id column="lesson_no" property="lessonNo"/>
    <result column="curr_lesson_dt" property="curriculumLessonDay"/>
    <result column="curr_lesson_st" property="curriculumLessonStartTime"/>
    <result column="curr_lesson_et" property="curriculumLessonEndTime"/>
    <result column="total_hr" property="totalHours"/>
  </resultMap>
  
  <resultMap type="Subject" id="SubjectMap">
    <id column="sch_type_no" property="schoolTypeNo"/>
    <result column="sub_name" property="subjectName"/>
  </resultMap>
  
  <resultMap type="Member" id="MemberMap">
      <id column="mem_no" property="memberNo"/>
      <result column="mem_type_no" property="memberTypeNo"/>
      <result column="reg_date" property="registeredDate"/>
      <result column="gender" property="gender"/>
      <result column="dob" property="dateOfBirth"/>
      <result column="id" property="id"/>
      <result column="email" property="email"/>
      <result column="name" property="name"/>
      <result column="pwd" property="password"/>
      <result column="addr_city" property="addressCity"/>
      <result column="addr_sub" property="addressSuburb"/>
      <result column="tel" property="tel"/>
      <result column="profile_photo" property="profilePhoto"/>
      <result column="userEmailChecked" property="email_checked"/>
      <result column="activationKey" property="activation_key"/>
  </resultMap>
  
  <resultMap type="CurriculumLessonContents" id="CLCMap">
      <id column="curr_lesson_no" property="curriculumLessonNo"/>
      <result column="lesson_no" property="lessonNo"/>
      <result column="lesson_conts" property="lessonContents"/>
      <result column="lesson_days" property="lessonDays"/>
  </resultMap>
  
  <sql id="lessonColumn">
    select 
			l.lesson_no,
			l.tch_no,
			l.std_no,
			l.sub_no,
			l.lesson_desc,
			l.lesson_fee,
			l.lesson_stat,
			l.std_lesson_stop,
			l.tch_lesson_stop,
			l.sdt,
			l.edt,
			l.tch_review,
			l.std_review,
			l.tch_eval,
			l.payment,
			l.pay_day,
			l.cal_date,
			l.cal_stat,
			l.std_stop_reason,
			l.tch_stop_reason,
			l.ref_stat,
			l.ref_date,
			l.ref_amount
  </sql>
  
  <sql id="curriculumColumn">
    c.lesson_no,
		c.curr_lesson_dt,
		c.curr_lesson_st,
		c.curr_lesson_et,
		c.total_hr
  </sql>
  
  <sql id="clcColumn">
    cl.curr_lesson_no,
		cl.lesson_no,
		cl.lesson_conts,
		cl.lesson_days
  </sql>

    <select id="findAllTeacherBy" resultMap="LessonMap" parameterType="int">
	   <include refid="lessonColumn"/>,
	     s.sch_type_no, l.lesson_no, m.name, m.mem_type_no, m.profile_photo, s.sub_name, l.sdt, l.edt
			from lesson l 
			inner join subject s on l.sub_no = s.sub_no
			inner join member m on l.tch_no = m.mem_no
			where  std_no = #{no}
    </select>
    
    <select id="findAllStudentBy" resultMap="LessonMap" parameterType="int">
			<include refid="lessonColumn"/>,
			s.sch_type_no, l.lesson_no, m.name, m.mem_type_no, m.profile_photo, s.sub_name, l.sdt, l.edt
			from lesson l 
			left outer join subject s on l.sub_no = s.sub_no
			left outer join member m on l.std_no = m.mem_no
			where  tch_no = #{no}
    </select>
    
     <select id="findCurrBy" parameterType="int" resultMap="LessonMap">
			select c.curr_lesson_dt, c.curr_lesson_st, c.curr_lesson_et, l.sdt, l.edt, cl.curr_lesson_no, cl.lesson_no, cl.lesson_conts, cl.lesson_days
			from lesson l
			inner join curriculum c on l.lesson_no = c.lesson_no
			inner join curr_lesson_conts cl on c.lesson_no = cl.lesson_no
			where l.lesson_no = #{haha}
    </select>
    
    <select id="findBy" resultMap="LessonMap">
      <include refid="lessonColumn"/>,
      <include refid="curriculumColumn"/>,
      <include refid="clcColumn"/>
      from lesson l 
      inner join curriculum c on l.lesson_no = c.lesson_no
      inner join curr_lesson_conts cl on c.lesson_no = cl.lesson_no
      where l.lesson_no = #{haha}
    </select>
    
  <update id="updateDateAndTime" parameterType="Lesson">
    update  lesson l
    inner join curriculum c on l.lesson_no = c.lesson_no
    <set>
      <if test="curriculum.curriculumLessonStartTime != null">c.curr_lesson_st=#{curriculum.curriculumLessonStartTime},</if> 
      <if test="curriculum.curriculumLessonEndTime != null">c.curr_lesson_et=#{curriculum.curriculumLessonEndTime},</if> 
      <if test="curriculum.curriculumLessonDay != null">c.curr_lesson_dt=#{curriculum.curriculumLessonDay},</if> 
      <if test="startDate != null">l.sdt=#{startDate},</if> 
      <if test="endDate != null">l.edt=#{endDate}</if> 
    </set>
		where l.lesson_no = #{lessonNo}
  </update>
  
  <update id="updateContentsAndDays" parameterType="Lesson">
    update  curr_lesson_conts
    <set>
      <if test="clc.lessonContents != null">lesson_conts=#{clc.lessonContents},</if> 
      <if test="clc.lessonDays != null">lesson_days=#{clc.lessonDays},</if> 
    </set>
    where curr_lesson_no = #{clc.curriculumLessonNo}
  </update>
  

  <delete id="deleteContentsAndDays" parameterType="int">
    delete from curr_lesson_conts
		where
		curr_lesson_no=#{haha}
  </delete>

  <insert id="addContentsAndDays" parameterType="Lesson">
    insert into curr_lesson_conts(lesson_no, lesson_conts, lesson_days)
    values(#{lessonNo}, #{clc.lessonContents}, #{clc.lessonDays});
  </insert>

  <insert id="addLesson" parameterType="Lesson"
    useGeneratedKeys="true"
    keyColumn="lesson_no"
    keyProperty="lessonNo">
    insert into lesson (tch_no, sub_no, lesson_desc, lesson_fee, sdt, edt)
    values (#{teacherNo}, #{subjectNo}, #{lessonDescription}, #{lessonFee}, #{startDate}, #{startDate});
  </insert>
  
  <insert id="addCurriculum" parameterType="Lesson" >
    insert into curriculum (lesson_no, curr_lesson_dt, curr_lesson_st, curr_lesson_et)
    values (#{lessonNo}, #{curriculum.curriculumLessonDay}, #{curriculum.curriculumLessonStartTime}, #{curriculum.curriculumLessonEndTime});
  </insert>
  
  <select id="findSubNo" parameterType="map" resultType="int">
	  SELECT
		  s.sub_no
		FROM
		  subject s
		INNER JOIN
		  school_type st ON s.sch_type_no = st.sch_type_no
		WHERE
		  st.sch_type_no = #{schoolTypeNo} AND s.sub_name = #{subjectName};
  </select>
  
  <delete id="deleteCurrAndContsAndLesson"  parameterType="int">
    delete from curr_lesson_conts
		where lesson_no = #{lessonNo};

		delete from curriculum
		where lesson_no = #{lessonNo};
		
		delete from lesson
		where lesson_no = #{lessonNo}; 
  </delete>

</mapper>
