<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ast.eom.dao.MemberDao">

	<resultMap type="Member" id="MemberMap">
		<id column="mem_no" property="memberNo" />
    <result column="mem_type_no" property="memberTypeNo" />
		<result column="reg_date" property="registeredDate" />
		<result column="gender" property="gender" />
		<result column="dob" property="dateOfBirth" />
		<result column="id" property="id" />
		<result column="email" property="email" />
		<result column="name" property="name" />
		<result column="pwd" property="password" />
		<result column="addr_city" property="addressCity" />
		<result column="addr_sub" property="addressSuburb" />
		<result column="tel" property="tel" />
		<result column="profile_photo" property="profilePhoto" />
    <result column="curr_lesson_dt" property="lessonDays" />
    <result column="curr_lesson_st" property="lessonStartTime" />
    <result column="curr_lesson_et" property="lessonEndTime" />
    <result column="email_checked" property="userEmailChecked" />
    <result column="activation_key" property="activationKey" />
	</resultMap>
	
	<select id="detailMember" parameterType="int" resultMap="MemberMap">
		select *
		from member
		where mem_no = #{memberNo}
	</select>

</mapper>