<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ast.eom.dao.MemberTeacherStudentDao">

	<!-- 컬럼 이름과 자바 객체의 프로퍼티 이름을 연결한다. -->
	<resultMap type="MemberTeacherStudent" id="MemberTeacherStudentMap">
		<id column="mem_no" property="memberNo" />
		<result column="mem_type_no" property="memberTypeNo" />
		<result column="reg_date" property="registeredDate" />
		<result column="gender" property="gender" />
		<result column="dob" property="dateOfBirth" />
		<result column="id" property="id" />
		<result column="addr_city" property="addressCity" />
		<result column="addr_sub" property="addressSuburb" />
		<result column="profile_photo" property="profilePhoto" />
		<result column="curr_lesson_dt" property="lessonDays" />
		<result column="curr_lesson_st" property="lessonStartTime" />
		<result column="curr_lesson_et" property="lessonEndTime" />
		<result column="mem_type_name" property="memberTypeName"/>
		<result column="sch_type" property="schoolType" />
		<result column="sub_name" property="subjectName" />
		<collection resultMap="TeacherMap" property="teachers" />
		<collection resultMap="LessonSubjectMap" property="lessonSubjects" />
		<collection resultMap="SchoolMap" property="schools" />
		<collection resultMap="LessonMap" property="lessons" />
		<collection resultMap="StudentMap" property="students" />
		<collection resultMap="TeacherPhotoMap" property="teacherPhotos" />
	</resultMap>
	
	
	<resultMap type="TeacherPhoto" id="TeacherPhotoMap">
	    <id column="tch_photo_no" property="teacherPhotoNo"/>
	    <result column="tch_no" property="teacherNo"/>
	    <result column="tch_photo" property="teacherPhoto"/>
    </resultMap>
	
	<resultMap type="Lesson" id="LessonMap">
		<id column="lesson_no" property="lessonNo" />
		<result column="tch_no" property="teacherNo" />
		<result column="tch_review" property="teacherReview" />
		<result column="std_review" property="studentReview" />
		<result column="tch_eval" property="teacherEvaluation" />
	</resultMap>

	<resultMap type="School" id="SchoolMap">
		<id column="sch_no" property="schoolNo" />
		<result column="tch_no" property="teacherNo" />
		<result column="sch_type_no" property="schoolTypeNo" />
		<result column="sch_name" property="schoolName" />
		<result column="grad" property="isGraduated" />
		<result column="major" property="major" />
	</resultMap>

	<resultMap type="Teacher" id="TeacherMap">
		<id column="tch_no" property="teacherNo" />
		<result column="tch_intro" property="teacherIntro" />
		<result column="appr_stat" property="approvementState" />
		<result column="vid_addr" property="videoAddress" />
	</resultMap>

	<resultMap type="LessonSubject" id="LessonSubjectMap">
		<id column="lesson_sub_no" property="lessonSubjectNo" />
		<result column="tch_no" property="teacherNo" />
		<result column="sub_no" property="subjectNo" />
		<result column="sub_conts" property="subjectContents" />
		<result column="wanted_fee" property="wantedFee" />
	</resultMap>
	
	<resultMap type="Student" id="StudentMap">
		<id column="std_no" property="studentNo" />
		<result column="req_to_teacher" property="requirementsToTeacher" />
		<result column="wanted_fee" property="wantedFee" />
	</resultMap>

	<select id="listTeacher" parameterType="map" resultMap="MemberTeacherStudentMap">
		select
		m.mem_no, m.mem_type_no, m.id, m.gender, m.addr_city, m.addr_sub, m.profile_photo, 
		s.sch_name, t.tch_no, t.appr_stat, sub.sub_name, st.sch_type
		from member m
		left outer join teacher t on m.mem_no = t.tch_no
		left outer join teacher_photo tp on t.tch_no = tp.tch_no
		left outer join school s on t.tch_no = s.tch_no
		left outer join lesson_subject ls on t.tch_no = ls.tch_no
		left outer join subject sub on ls.sub_no = sub.sub_no
		left outer join school_type st on sub.sch_type_no = st.sch_type_no
		where t.appr_stat = 1 and m.mem_type_no = #{memberTypeNo}
	</select>

	<select id="listStudent" parameterType="map" resultMap="MemberTeacherStudentMap">
		select
		m.mem_no, m.mem_type_no, m.id, m.gender, m.addr_city, m.addr_sub, m.profile_photo,
		sub.sub_name, st.sch_type
		from
		member m
		left outer join student stu on m.mem_no= stu.std_no
		left outer join wanted_lesson wl on stu.std_no = wl.std_no
		left outer join subject sub on wl.sub_no = sub.sub_no
		left outer join school_type st on sub.sch_type_no = st.sch_type_no
		where m.mem_type_no = #{memberTypeNo}
	</select>

	<select id="detailTeacher" parameterType="int" resultMap="MemberTeacherStudentMap">
		select
		m.mem_no, m.mem_type_no, m.reg_date, m.gender, m.dob, m.id, 
		m.addr_city, m.addr_sub, m.profile_photo, m.curr_lesson_dt, m.curr_lesson_st, m.curr_lesson_et,
		tp.tch_photo, t.tch_intro, t.vid_addr, ls.wanted_fee, s.sch_name, s.major, 
		st.sch_type, sub.sub_name, l.tch_review, l.tch_eval
		from
		member m
		left outer join teacher t on m.mem_no = t.tch_no
		left outer join teacher_photo tp on t.tch_no = tp.tch_no
		left outer join school s on t.tch_no = s.tch_no
		left outer join lesson_subject ls on t.tch_no = ls.tch_no
		left outer join subject sub on ls.sub_no = sub.sub_no
		left outer join school_type st on sub.sch_type_no = st.sch_type_no
		left outer join lesson l on t.tch_no = l.tch_no
		where m.mem_no= #{mem_no}
	</select>
	
	<select id="detailStudent" parameterType="int" resultMap="MemberTeacherStudentMap">
		select
		m.mem_no, m.mem_type_no, m.reg_date, m.gender, m.dob, m.id, m.addr_city, m.addr_sub, m.profile_photo,
		m.curr_lesson_dt, m.curr_lesson_st, m.curr_lesson_et, mt.mem_type_name,
		stu.req_to_teacher, st.sch_type, sub.sub_name, l.std_review, wl.wanted_fee
		from
		member m
		left outer join member_type mt on m.mem_type_no = mt.mem_type_no
		left outer join student stu on m.mem_no = stu.std_no
		left outer join lesson l on stu.std_no = l.std_no
		left outer join wanted_lesson wl on stu.std_no = wl.std_no
		left outer join subject sub on wl.sub_no = sub.sub_no
		left outer join school_type st on sub.sch_type_no = st.sch_type_no
		where m.mem_no= #{mem_no}
	</select>
	
	<select id="searchTeacher" parameterType="map" resultMap="MemberTeacherStudentMap">
		select
		m.mem_no, m.id, m.profile_photo,
		m.gender, m.addr_city, m.addr_sub, m.dob, sub.sub_name, st.sch_type, ls.wanted_fee
		from member m
		left outer join teacher t on m.mem_no = t.tch_no
		left outer join lesson_subject ls on t.tch_no = ls.tch_no
		left outer join subject sub on ls.sub_no = sub.sub_no
		left outer join school_type st on sub.sch_type_no = st.sch_type_no
	     where addr_city LIKE CONCAT('%', #{mySido}, '%')
        and addr_sub LIKE CONCAT('%', #{myGugun}, '%')
        and gender LIKE CONCAT('%', #{myGender}, '%')
       <!--  and dob LIKE CONCAT('%', #{myAge}, '%') -->
        and sub_name LIKE CONCAT('%', #{mySubject}, '%')
        and sch_type LIKE CONCAT('%', #{mySchool}, '%')
        and wanted_fee LIKE CONCAT('%', #{myWantedFee}, '%')
	</select>
	
	<select id="searchStudent" parameterType="map" resultMap="MemberTeacherStudentMap">
		select
		m.mem_no, m.id, m.profile_photo,
		m.gender, m.addr_city, m.addr_sub, sub.sub_name, st.sch_type, wl.wanted_fee
		from
		member m
		left outer join student stu on m.mem_no= stu.std_no
		left outer join wanted_lesson wl on stu.std_no = wl.std_no
		left outer join subject sub on wl.sub_no = sub.sub_no
		left outer join school_type st on sub.sch_type_no = st.sch_type_no
		where addr_city LIKE CONCAT('%', #{mySido}, '%')
	      and addr_sub LIKE CONCAT('%', #{myGugun}, '%')
	      and gender LIKE CONCAT('%', #{myGender}, '%')
	      and sub_name LIKE CONCAT('%', #{mySubject}, '%')
	      and sch_type LIKE CONCAT('%', #{mySchool}, '%')
	      and wanted_fee LIKE CONCAT('%', #{myWantedFee}, '%')
	</select>
	
	<select id="reviewTeacher" parameterType="int" resultMap="MemberTeacherStudentMap">
    select
    m.mem_no, m.id, l.tch_review
    from
    member m
    left outer join student stu on m.mem_no= stu.std_no
    left outer join lesson l on stu.std_no = l.lesson_no
    left outer join teacher t on l.lesson_no = t.tch_no
    
  </select>
  
  <select id="reviewStudent" parameterType="int" resultMap="MemberTeacherStudentMap">
    select
    m.mem_no, m.id, l.tch_review
    from
    member m
    left outer join teacher t on m.mem_no= t.tch_no
    left outer join lesson l on t.tch_no = l.lesson_no
    left outer join student stu on l.lesson_no = stu.std_no
    
  </select>

	




</mapper>