<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ast.eom.dao.MypageDao">

  <resultMap type="Member" id="MemberMap">
    <id column="mem_no" property="memberNo"/>
    <result column="reg_date" property="registeredDate"/>
    <result column="gender" property="gender"/>
    <result column="dob" property="dateOfBirth"/>
    <result column="id" property="id"/>
    <result column="email" property="email"/>
    <result column="name" property="name"/>
    <result column="pwd" property="password"/>
    <result column="addr_city" property="addressCity"/>
    <result column="addr_sub" property="addressSuburb"/>
    <result column="tel" property="tel"/>
    <result column="profile_photo" property="profilePhoto"/>
    <result column="email_checked" property="userEmailChecked"/>
    <result column="activation_key" property="activationKey"/>
    <result column="curr_lesson_dt" property="lessonDays"/>
    <result column="curr_lesson_st" property="lessonStartTime"/>
    <result column="curr_lesson_et" property="lessonEndTime"/>
    <collection resultMap="MemberTypeMap" property="memberType"/>
  </resultMap>
  
  <resultMap type="MemberType" id="MemberTypeMap">
    <id column="mem_type_no" property="memberTypeNo"/>
    <result column="mem_type_name" property="memberTypeName"/>
  </resultMap>
  
<!--   
  <resultMap type="Student" id="StuentMap">
    <id column="std_no" property="studentNo"/>
    <result column="parents_no" property="parentsNo"/>
    <result column="bank_name" property="bankName"/>
    <collection resultMap="SchoolTypeMap" property="schoolType"/>
  </resultMap>
  
   -->
  <resultMap type="SchoolType" id="SchoolTypeMap">
    <id column="sch_type_no" property="schoolTypeNo"/>
    <result column="sch_type" property="schoolType"/>
  </resultMap>
  
  <resultMap type="Teacher" id="TeacherMap">
    <id column="tch_no" property="teacherNo"/>
    <result column="acc_no" property="accountNo"/>
    <result column="bank_name" property="bankName"/>
    <result column="lesson_certi" property="lessonCertificate"/>
    <result column="tch_intro" property="teacherIntro"/>
    <result column="appr_stat" property="approvementState"/>
    <result column="vid_addr" property="videoAddress"/>
    <collection resultMap="SchoolMap" property="schools"/>
  </resultMap>
  
  <resultMap type="School" id="SchoolMap">
    <id column="sch_no" property="schoolNo"/>
    <result column="tch_no" property="teacherNo"/>
    <result column="sch_type_no" property="schoolTypeNo"/>
    <result column="sch_name" property="schoolName"/>
    <result column="certi" property="certificate"/>
    <result column="grad" property="isGraduated"/>
    <result column="mdt" property="modifiedDate"/>
    <result column="major" property="major"/>
    <result column="confirm" property="isConfirmed"/>
    <result column="grad_date" property="graduatedDate"/>
  </resultMap>
  
  
  <select id="findBy" parameterType="int" resultMap="MemberMap">
    select *
    from member
    where mem_no = #{no}
  </select>

  <select id="getTeacher" parameterType="int" resultMap="TeacherMap">
    select *
    from teacher t
    inner join school s on t.tch_no = s.tch_no
    where t.tch_no = #{no};
  </select>

  <select id="getSchools" parameterType="int" resultMap="SchoolMap">
    select *
    from school
    where t.tch_no = #{no};
  </select>
<!--
  <select id="getStudent" parameterType="int" resultMap="MemberMap">
    select *
    from student
    where std_no = #{no}
  </select>

  <select id="getParents" parameterType="int" resultMap="MemberMap">
    select *
    from parents
    where paretns_no = #{no}
  </select> -->
  
</mapper>